<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="http://127.0.0.1:8000/favicon" type="image/x-icon">
    <title>Golzad - Login</title>
</head>
<body class="bg-gradient-to-r from-orange-400 to-pink-500 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-xl shadow-2xl w-96">
        <div class="text-center mb-6">
            <h2 class="text-3xl font-bold text-gray-800">Golzad</h2>
            <p class="text-gray-600">Login to your account</p>
        </div>

        <div class="space-y-4">
            <div>
                <label class="block text-gray-700">Email</label>
                <input type="email" id="email" name="email" required
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
            </div>
            <div>
                <label class="block text-gray-700">Password</label>
                <input type="password" id="password" name="password" required
                    class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
            </div>
            <button id="teramera"
                class="w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-600 transition duration-300">
                Login
            </button>
        </div>

        <div class="text-center mt-4">
            <p class="text-gray-600">Don't have an account? 
                <a href="http://127.0.0.1:8000/register" class="text-orange-500 hover:underline">Register</a>
            </p>
        </div>
    </div>

    <script>
        document.getElementById('teramera').addEventListener('click', async (_) => {

            email = document.getElementById('email').value;
            password = document.getElementById('password').value;

            const formData = new FormData();
            formData.append('username', email);
            formData.append('password', password);
            try {
                const response = await fetch('http://127.0.0.1:8000/authenticate', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                console.log(result);
                if (response.status == 200) {
                    
                    // Redirect to dashboard or home page
                    window.location.href = '/home';
                } else {
                    alert('Login Failed');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Login Failed');
            }
        });
    </script>
</body>
</html>